  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group input[type="file"] {
    padding: 0;
}

.form-group textarea {
    resize: vertical;
}

/* Botão de envio */
button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Botão de alternância de tema */
#themeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#themeToggle:hover {
    background-color: #0056b3;
}

/* Estilos de preview de imagens */
.image-preview {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dark-theme .image-preview img {
    border: 1px solid #555;
}

/* Tema Escuro */
.dark-theme {
    background-color: #333;
    color: white;
}

.dark-theme .container {
    background-color: #444;
    color: white;
}

.dark-theme input[type="text"],
.dark-theme input[type="date"],
.dark-theme input[type="number"],
.dark-theme textarea,
.dark-theme input[type="file"] {
    background-color: #555;
    color: white;
    border: 1px solid #777;
}

.dark-theme button[type="submit"] {
    background-color: #28a745;
    color: white;
}

.dark-theme button[type="submit"]:hover {
    background-color: #218838;
}